* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

@media (max-width: 992px) {
  .first-slide-wrapper .first-slide h1 {
    font-size: 5rem !important;
  }
  .first-slide-wrapper .first-slide h2 {
    font-size: 1.325rem !important;
  }
  .first-slide-wrapper .first-slide .prices-button {
    font-size: 1.25rem !important;
  }
  .first-slide-wrapper .navigation-bar .logo {
    justify-self: center;
  }
  .first-slide-wrapper .navigation-bar .links {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .first-slide-wrapper .first-slide h1 {
    font-size: 2rem !important;
  }
  .first-slide-wrapper .first-slide h2 {
    font-size: 1.325rem !important;
  }
  .first-slide-wrapper .first-slide .prices-button {
    font-size: 1.25rem !important;
  }
  .address-map {
    height: 300px !important;
  }
  .big-title {
    font-size: 1.5rem !important;
  }
  .smaller-text {
    font-size: 1.125rem !important;
    line-height: initial !important;
  }
}
@media (max-width: 576px) {
  .first-slide-wrapper .first-slide h1 {
    font-size: 2.5rem !important;
  }
}
.first-slide-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../img/first-slide.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
.first-slide-wrapper .navbar-wrapper {
  width: 100%;
  border-bottom: 1px solid #aaa;
  background: rgba(170, 170, 170, 0.15);
}
.first-slide-wrapper .navbar-wrapper .navbar-container .navigation-bar {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
}
.first-slide-wrapper .navbar-wrapper .navbar-container .navigation-bar * {
  color: #fff;
}
.first-slide-wrapper .navbar-wrapper .navbar-container .navigation-bar > * {
  display: flex;
}
.first-slide-wrapper .navbar-wrapper .navbar-container .navigation-bar .logo {
  font-family: "Swiss 721 Black Extended BT";
  font-size: 42px;
}
.first-slide-wrapper .navbar-wrapper .navbar-container .navigation-bar .links {
  letter-spacing: 0.05em;
  gap: 40px;
  justify-content: flex-end;
}
.first-slide-wrapper .navbar-wrapper .navbar-container .navigation-bar .links .link {
  font-size: 20px;
}
.first-slide-wrapper .first-slide {
  height: calc(100vh - 101px);
}
.first-slide-wrapper .first-slide .first-slide-heading {
  height: auto;
  gap: 1rem;
}
.first-slide-wrapper .first-slide .first-slide-heading h1 {
  color: #fff;
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: transparent;
  font-family: "Swiss 721 Black Extended BT";
  font-style: normal;
  font-weight: 400;
  font-size: 6.75rem;
}
.first-slide-wrapper .first-slide .first-slide-heading h2 {
  color: #fff;
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
.first-slide-wrapper .first-slide .first-slide-heading .prices-button {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.625rem;
  color: #000;
  height: 70px;
  background: #F7E6A6;
  border-radius: 5px;
  display: grid;
  place-items: center;
  margin-top: 34px;
  transition: background 0.2s ease-in-out;
  letter-spacing: 0.03em;
}
.first-slide-wrapper .first-slide .first-slide-heading .prices-button:hover {
  background: hsl(47deg, 38%, 67%);
}

.about-us-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-us-container .about-us-text .about-us-heading {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
.about-us-container .about-us-text .about-us-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.375rem;
}
.about-us-container .about-us-image img {
  border-radius: 5px;
}

.prices-container-wrapper {
  border-top: 1px solid #dce1e6;
  border-bottom: 1px solid #dce1e6;
  background: #edeef0;
}
.prices-container-wrapper .prices-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.prices-container-wrapper .prices-container .prices-title-wrapper .prices-container-title {
  font-size: 2rem;
  font-family: "Dela Gothic One";
}
.prices-container-wrapper .prices-container .prices-note {
  font-family: "Montserrat";
  font-size: 1.25rem;
}
.prices-container-wrapper .prices-container .prices-note a {
  color: #e63877;
}
.prices-container-wrapper .prices-container .price-cards .price-card-wrapper .price-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  aspect-ratio: 1/1;
}
.prices-container-wrapper .prices-container .price-cards .price-card-wrapper .price-card .item-title {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-family: "Dela Gothic One";
  border-radius: 5px 5px 0 0;
  background: linear-gradient(45deg, #e63877, #dad17a);
  height: 62%;
  text-align: center;
  align-content: center;
  padding: 1rem;
}
.prices-container-wrapper .prices-container .price-cards .price-card-wrapper .price-card .item-price {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-family: "Montserrat";
  border-radius: 0 0 5px 5px;
  align-content: center;
}

.tech-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.tech-container .tech-text .tech-heading {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
.tech-container .tech-text .tech-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.375rem;
}
.tech-container .tech-list {
  gap: 1rem;
}
.tech-container .tech-list .tech-card {
  border: 1px solid #dce1e6;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100px;
  padding: 1rem;
  gap: 1rem;
}
.tech-container .tech-list .tech-card .tech-card-info .tech-card-name {
  font-family: "Dela Gothic One";
  font-size: 1rem;
}
.tech-container .tech-list .tech-card .tech-card-info .tech-card-description {
  font-family: "Montserrat";
  font-size: 1rem;
  color: #666;
}

.address-container-wrapper {
  background: #282A35;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.address-container-wrapper .row .address-map {
  height: 500px;
}
.address-container-wrapper .row .address-info .address-info-title {
  color: #F7E6A6;
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
.address-container-wrapper .row .address-info .address-info-description {
  color: #eee;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.375rem;
}
.address-container-wrapper .row .address-info .address-info-description a {
  color: #F7E6A6;
}

.social-links-wrapper {
  background: #282A35;
}
.social-links-wrapper .social-links-container .social-links-title {
  color: #F7E6A6;
  font-size: 2.5rem;
  font-family: "Dela Gothic One";
}
.social-links-wrapper .social-links-container .social-links-description {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat";
}
.social-links-wrapper .social-links-container .social-links {
  gap: 0.75rem;
}
.social-links-wrapper .social-links-container .social-links .social-link img {
  height: 5rem;
}

footer {
  font-family: "Anonymous Pro", monospace;
  font-size: 1rem;
  background: #343745;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
